<div class="p-6 bg-white shadow-lg rounded-lg">
    <h4 class="mb-4">{{ user.id ? 'Edit User' : 'Add User' }}</h4>
    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="user.username" required />
        </mat-form-field>
    </div>
    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="user.password" type="password" required />
        </mat-form-field>
    </div>
    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label>Full name</mat-label>
            <input matInput [(ngModel)]="user.fullname" required />
        </mat-form-field>
    </div>
    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label>Mobile number</mat-label>
            <input matInput [(ngModel)]="user.mobileno" type="tel" required />
        </mat-form-field>
    </div>
    <div class="mb-4">
        <mat-checkbox [(ngModel)]="user.active">Active</mat-checkbox>
    </div>
    <div class="flex justify-end">
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    </div>
</div>